<!-- ========================= feature style-5 start ========================= -->
<!-- ========================= contact-style-3 end ========================= -->
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Cửa hàng Trung Hòa   </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Place favicon.ico in the root directory -->

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-beta1.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css"/>
    <link rel="stylesheet" href="assets/css/tiny-slider.css"/>
    <link rel="stylesheet" href="assets/css/animate.css"/>
    <link rel="stylesheet" href="assets/css/lindy-uikit.css"/>
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="https://browsehappy.com/">upgrade your browser</a> to improve
    your experience and security.
</p>
<![endif]-->

<!-- ========================= preloader start ========================= -->
<div class="preloader">
    <div class="loader">
        <div class="spinner">
            <div class="spinner-container">
                <div class="spinner-rotator">
                    <div class="spinner-left">
                        <div class="spinner-circle"></div>
                    </div>
                    <div class="spinner-right">
                        <div class="spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================= preloader end ========================= -->

<!-- ========================= hero-section-wrapper-5 start ========================= -->
<section id="home" class="hero-section-wrapper-5">

    <!-- ========================= header-6 start ========================= -->
    <header class="header header-6">
        <div class="navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/img/logo/logo.svg" alt="Logo" />
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent6" aria-controls="navbarSupportedContent6" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent6">
                                <ul id="nav6" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll active" href="/">Trang Chủ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/feature">Chức Năng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/about">Giới Thiệu</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="page-scroll" href="/pricing">Giao dịch</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/contact">Hợp đồng</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="header-action d-flex">
                                <a href="#0"> <i class="lni lni-cart"></i> </a>
                                <a href="#0"> <i class="lni lni-alarm"></i> </a>
                            </div>
                            <!-- navbar collapse -->
                        </nav>
                        <!-- navbar -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- navbar area -->
    </header>
    <!-- ========================= header-6 end ========================= -->

    <!-- ========================= hero-5 start ========================= -->
    <div class="hero-section hero-style-5 img-bg" style="background-image: url('assets/img/hero/hero-5/hero-bg.svg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-content-wrapper">
                        <h2 class="mb-30 wow fadeInUp" data-wow-delay=".2s">Cửa Hàng Sửa Xe Trung Hòa</h2>
                        <p class="mb-30 wow fadeInUp" data-wow-delay=".4s">Layout đồ án thực tập chuyên ngành với sự hướng dẫn từ giảng viên Quirrel Trường, sản phẩm chưa hoàn thiện.</p>
                        <a href="#0" class="button button-lg radius-50 wow fadeInUp" data-wow-delay=".6s">Khám phá <i class="lni lni-chevron-right"></i> </a>
                    </div>
                </div>
                <div class="col-lg-6 align-self-end">
                    <div class="hero-image wow fadeInUp" data-wow-delay=".5s">
                        <img src="assets/img/hero/hero-5/hero-img.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================= hero-5 end ========================= -->

</section>
<!-- ========================= hero-section-wrapper-6 end ========================= -->
{{{body}}}
<!-- ========================= clients-logo start ========================= -->
<section class="clients-logo-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="client-logo wow fadeInUp" data-wow-delay=".2s">
                    <img src="assets/img/clients/brands.svg" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= clients-logo end ========================= -->

<!-- ========================= footer style-4 start ========================= -->
<footer class="footer footer-style-4">
    <div class="container">
        <div class="widget-wrapper">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                        <div class="logo">
                            <a href="#0"> <img src="assets/img/logo/logo.svg" alt=""> </a>
                        </div>
                        <p class="desc">Ưu tiên hàng đầu là trải nghiệm từ khách hàng , cảm ơn bạn đã lựa chọn chúng tôi.</p>
                        <ul class="socials">
                            <li> <a href="#0"> <i class="lni lni-facebook-filled"></i> </a> </li>
                            <li> <a href="#0"> <i class="lni lni-twitter-filled"></i> </a> </li>
                            <li> <a href="#0"> <i class="lni lni-instagram-filled"></i> </a> </li>
                            <li> <a href="#0"> <i class="lni lni-linkedin-original"></i> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".3s">
                        <h6>Liên hệ</h6>
                        <ul class="links">
                            <li> <a href="#0">Trang Chủ</a> </li>
                            <li> <a href="#0">Giới Thiệu</a> </li>
                            <li> <a href="#0">Dịch Vụ</a> </li>
                            <li> <a href="#0">Chứng thực</a> </li>
                            <li> <a href="#0">Hợp đồng</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                        <h6>Dịch vụ</h6>
                        <ul class="links">
                            <li> <a href="#0">Thẩm định</a> </li>
                            <li> <a href="#0">Thay thế</a> </li>
                            <li> <a href="#0">Tư vấn</a> </li>
                            <li> <a href="#0">Hỗ trợ</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget wow fadeInUp" data-wow-delay=".5s">
                        <h6>Download App</h6>
                        <ul class="download-app">
                            <li>
                                <a href="#0">
                                    <span class="icon"><i class="lni lni-apple"></i></span>
                                    <span class="text">Download on the <b>App Store</b> </span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <span class="icon"><i class="lni lni-play-store"></i></span>
                                    <span class="text">GET IT ON <b>Play Store</b> </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper wow fadeInUp" data-wow-delay=".2s">
            <p>Design and Developed by <a href="https://uideck.com" rel="nofollow" target="_blank">UIdeck</a> Built-with <a href="https://uideck.com" rel="nofollow" target="_blank">Lindy UI Kit</a>. Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
        </div>
    </div>
</footer>
<!-- ========================= footer style-4 end ========================= -->

<!-- ========================= scroll-top start ========================= -->
<a href="#" class="scroll-top"> <i class="lni lni-chevron-up"></i> </a>
<!-- ========================= scroll-top end ========================= -->


<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap-5.0.0-beta1.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
